.signUp{
    background-image: url(https://media.istockphoto.com/id/1300810952/photo/icon-like-heart-on-instagram-social-media-concept.jpg?b=1&s=612x612&w=0&k=20&c=Cpe4OXNPhpuPUHFMBvFOegQOnPbfQeM5Aa8su4MLfMc=);
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: #fff;
    padding: 30px;
    border: 1px solid rgb(241, 91, 91);
    border-radius: 10px;
}
.signUpLogo{
    width: 200px;
    object-fit: contain;
    padding: 10px 0px;
}
.loginPara{
    color: rgba(var(--f52, 142, 142, 142), 1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 40px 20px 40px
}
input{
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.form > div{
    width: 80%;
    margin: auto;
}

#submit-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}
.form2{
    background-color: #fff;
    padding: 30px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid rgb(241, 91, 91);
}